var infra_params = require('./infra.config');

var authString = 'apikey ' + infra_params.username + ":" + infra_params.api_key;
var apiPrefix = '/api/v1/'
var apiUrl = "http://" + infra_params.host + ':' + infra_params.port + apiPrefix;

var docsUrlOptions = {
  url: apiUrl + 'kycapi_document/',
  headers: {
    'Authorization': authString
  }
}

var verificationsOptions = {
  url: apiUrl + 'kycapi_verification/',
  headers: {
    Authorization: authString,
  }
}

var verifOptionsWithDocument = function (documentId) {
  return {
    url: apiUrl + 'kycapi_document/' + documentId + '/',
    headers: {
      Authorization: authString,
    }
  }
}

module.exports = {
  docsUrlOptions: docsUrlOptions,
  verificationsOptions: verificationsOptions,
  verifOptionsWithDocument: verifOptionsWithDocument
};
